/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant: tabular-nums;
}

li, ul {
  list-style: none;
}

.flex-center {
  @apply flex items-center;
}

.nav--item {
  @apply hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-lg font-medium;
}

.nav--item-accent {
  @apply hover:bg-gray-700
}

.btn {
  @apply font-bold w-32 rounded text-center items-center border-none bg-red-400 text-white
}
